* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.loginOuter {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(pink, black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .sizeChange {
        @media (max-width:1080px) {
            &>* {
                transform: scale(1.2);
            }

        }

        @media (max-width:1000px) {
            &>* {
                transform: scale(1.3);
            }
        }

        @media (max-width:880px) {
            &>* {
                transform: scale(1.4);
            }
        }

        @media (max-width:500px) {
            &>* {
                transform: scale(1.2);
            }
        }

        @media (max-width:430px) {
            &>* {
                transform: scale(1);
            }
        }

        @media (max-width:370px) {
            &>* {
                transform: scale(0.8);
            }
        }

        .loginInner {
            height: 250px;
            width: 350px;
            border-radius: 15px;
            background-color: rgba(128, 128, 128, 0.423);
            box-shadow: 0px 4px 2px black;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            position: relative;

            .cir {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                background-color: black;
                position: absolute;
                top: -50px;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                    color: white;
                    font-size: 60px;
                }
            }

            .Email {
                height: 50px;
                width: 280px;
                border: 2px solid black;
                margin-top: 50px;
                display: flex;
                align-items: center;
                background-color: rgba(245, 245, 245, 0.574);

                &:focus-within {
                    border: 2px solid white;
                }

                .icone {
                    height: 100%;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    background-color: black;

                }

                input {
                    height: 100%;
                    width: 100%;
                    padding: 0px 10px;
                    border: none;
                    outline: none;
                    background: transparent;
                }
            }

            .Password {
                height: 50px;
                width: 280px;
                border: 2px solid black;
                display: flex;
                align-items: center;
                background-color: rgba(245, 245, 245, 0.574);

                &:focus-within {
                    border: 2px solid white;
                }

                .icone {
                    height: 100%;
                    width: 50px;
                    // border: 2px solid red;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    background-color: black;
                }

                input {
                    height: 100%;
                    width: 100%;
                    padding: 0px 10px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                }
            }

            .Remember {
                width: 100%;
                // border: 2px solid black;
                padding: 0px 15px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                #mee,
                .Forgot {
                    cursor: pointer;
                }
            }


        }

        .outerValue {


            display: flex;
            align-items: center;
            justify-content: center;

            .login {
                cursor: pointer;
                height: 40px;
                width: 250px;
                background-color: rgba(128, 128, 128, 0.334);
                border: none;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                color: white;
                font-weight: bold;

            }
        }



        .orOuter {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .line {
                height: 2px;
                width: 100px;
                background-color: black;

            }

            .or {
                font-size: 20px;
            }
        }

        .outerSignup {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .signup {

            cursor: pointer;
            height: 40px;
            width: 250px;
            background-color: rgba(128, 128, 128, 0.334);
            border: none;
            color: white;
            font-weight: bold;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }
}